
body {
  --fontsizebase : 25px;
}
.Landing {
  font-family: "Sk-Modernist", sans-serif;
  // width: 50%;
  position: relative;
  margin: calc(var(--fontsizebase) * 2);
  box-sizing: border-box;
  > * {
    width: 50%;
  }
  > p,
  > ul {
    font-size: var(--fontsizebase);
    box-sizing: border-box;
  }
  > p:last-of-type {
    margin-bottom: 20vh;
  }
  @media (max-width: 900px) {
    > * {
      width: 100%;
    }
  }

  h2{
    font-size: calc(var(--fontsizebase) * 1.5);
  }
  h3{
    font-size: calc(var(--fontsizebase) * 1.5);
    font-weight: normal;
  }

  .title {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    pointer-events: none;
    // font-variant: small-caps;
  }

  .title-letter {
    transition: all .5s ease;
    pointer-events: all;
    z-index: 3;
    text-align: center;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
  }

  .vector-path {
    stroke: red;
    stroke-dasharray: 5px 2px;
  }
  #arrowhead polygon {
    fill : red;
  }
}

/*** WIP **/
