.Landing {
  font-family: "Sk-Modernist", "Helvetica", sans-serif;
  // width: 50%;
  position: relative;
  margin: calc(var(--fontsizebase) * 2);
  box-sizing: border-box;
  @media only screen and (max-width: 768px) {
    margin: calc(var(--fontsizebase))
  }

  .lang-switch-container {
    position: fixed;
    left: calc(100vw - 5rem);
    top: 4rem;
    z-index: 3;
    @media only screen and (max-width: 768px) {
      top: unset;
      bottom: 1rem;
    }
    .lang-btn {
      background: none;
      border: none;
      font-family: inherit;
      font-size: 1rem;
      cursor: pointer;
      &.is-active {
        font-weight: 800;
      }
    }
  }
  > * {
    width: 50%;
  }
  > p,
  > ul,
  > ol {
    font-size: var(--fontsizebase);
    box-sizing: border-box;
    padding-left: 0;
  }
  > p:last-of-type {
    margin-bottom: 20vh;
  }
  @media (max-width: 900px) {
    > * {
      width: 100%;
    }
  }

  h2 {
    font-size: calc(var(--fontsizebase) * 1.5);
    @media only screen and (max-width: 768px) {
      font-size: calc(var(--fontsizebase));
      padding-top: calc(var(--fontsizebase));
    }
  }
  h3 {
    font-size: calc(var(--fontsizebase) * 1.5);
    font-weight: normal;
  }

  .title {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    pointer-events: none;
    // font-variant: small-caps;
    @media only screen and (max-width: 768px) {
      left: 0;
      top:0;
      padding: calc(var(--fontsizebase) * 1.5);
      padding-left:calc(var(--fontsizebase) * 1);;
      position : fixed;
      background: white;
      height: calc(var(--fontsizebase) * .5);
      padding-top: 0;
    }
  }

  .title-letter {
    transition: all 0.5s ease;
    pointer-events: all;
    z-index: 3;
    text-align: center;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    padding: 2rem;
    @media only screen and (max-width: 768px) {
      position: relative !important;
      left: unset !important;
      top: unset !important;
      padding: 0;
      font-size: 5vw !important;
      text-shadow: none;
    }
  }

  .vector-path {
    stroke: red;
    stroke-dasharray: 5px 2px;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  #arrowhead polygon {
    fill: red;
  }
}